.write {
  padding-top: 50px;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeForm {
  position: relative;
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  color: green;
  font-weight: 700;
}
.writeInput {
  font-size: 25px;
  border: none;
  padding: 20px;
  width: 70vw;
  border-bottom: 1px solid #08e9e9;
  margin-bottom: 2rem;
}
.writeInput:focus {
  outline: none;
}
.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  object-fit: cover;
}
.writeText {
  font-size: 20px;
  border: 1px solid #1ff5eae0;
  height: 15rem;
  resize: none;
}
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  background: teal;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
